.mainContact{
    position: relative;
    width: 100%;
    height: auto;
    align-items: center;
    background-image: url("/public/images/home/NavBar/bgNavBar.jpg");
  }

  iframe{
    background-image:initial;
  }
 
 form{
  button{
    width: 100px;
   }
 }
  .form-setting{
    background-image: inherit;
    border-radius: 10px;
    textarea{
      height: 70px;
    }
    input{
      height: 40px;
    }
  
  }
  

  
  @media screen and (max-width: 500px){
      .card-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    .form-set{
      right: 5px;
    }
    iframe{
      background-image:initial;
      height: 200px;
    }
  }