.mainHome{
   
    background-image: url(images/home/Carousel/bgCarousel.jpg) !important;
    color: white;
    padding: 0;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: cover;
   
    font-weight: bold;

    .bordu{
        background-image: url(images/home/Carousel/bordur.jpg);
        padding: 10px;
        height: 600px;
        margin-bottom: 50px;
       
        #carouselExampleAutoplaying{
           background-image: url(images/home/Carousel/bgCarousel.jpg);
         
         
         
         
             img{
                 width: 100%;
                 height: 580px;
                 filter: brightness(70%);
             }
             
         }
    }
   &>h4{
        border-bottom: 2px solid white !important;
    }

   
    
}